<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap">
		<title>Devour the Burger</title>
	</head>

	<body>
		{{{ body }}}
	</body>

    <footer>
        <div class="navbar fixed-bottom bg-dark text-white justify-content-center p-2">
            <p><strong>Alex Bertrand | &copy; Copyright 2020</strong></p>
        </div>
    </footer>

	<script src="https://use.fontawesome.com/1109cdd775.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>

</html>